*
 /*-------------------------------wrapper-------------------------------*/
        
 #wrapper {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

#center {
    width: 910px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 2px solid rgb(241, 241, 241);
    border-right: 2px solid rgb(241, 241, 241);
    padding: 40px;
}

#metting_title {
    margin-top: 0px;
    margin-bottom: 30px;
}
/*--------------------------center-----------------------*/

#center_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#internal {
    display: flex;
    background-color: rgb(245, 41, 102);
    color: white;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid rgb(245, 41, 102);
    border-radius: 25px;
    font-size: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}
/*-------------------date/time-------------------*/

#date {
    margin-bottom: 30px;
    margin-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    border-right: 2px solid rgb(212, 212, 212);
}
/*-------------big_img------------------*/

#big_img {
    display: flex;
    position: relative;
    border: 1px solid white;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
}
#big_img_name {
    display: flex;
    position: absolute;
    left: 20px;
    top: 15px;
    height: 40px;
    color: white;
    background-color: gray;
    border: 1px solid gray;
    align-items: center;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#mic_color {
    position: absolute;
    right: 20px;
    top: 18px;
}
/*--------------img_center_user_name------------------------*/
#img_center_user_name{
    display: flex;
    position: absolute;
    align-items: center;
    left: 10px;
    top: 7px;
    color: white;
    background-color: rgba(76, 76, 76, 0.5);
    border: 1px solid gray;
    align-items: center;
    height: 25px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 12px;
}
.img_center_user {
    display: flex;
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}
#mic_user{
    position: absolute;
    right: 10px;
    top: 8px;
}
#mic_none{
    position: absolute;
    right: 17px;
    top: 15px;
    filter: brightness(0) invert(1);
}
#time {
    margin-bottom: 30px;
    padding-left: 10px;
    font-size: 15px;
}

#center_header_2 {
    display: flex;
    align-items: center;
    justify-content: start;
}

#center_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#center_header_right {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    color: red;
    padding-left: 0.1%;
    padding-right: 0.1%;
    width: 10%;
    height: 35px;
    border-radius: 25px;
}
/*----------------------center_footer------------------*/
#footer_center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#center_icon_footer{
    margin-left: 18px;
}
#left {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#end_metting{
    background-color: red;
    color: white;
    width: 125px;
    padding-bottom: 13.2px;
    padding-top: 13.2px;
    margin-left: 18px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
}
/*-------------------left_above-----------------*/

#left_above {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
#chatting_n{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 34.5%;
    right: 26%;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(245, 41, 102);
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 12px;
}
#below {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item_left_above {
    width: 34px;
    margin-bottom: 50px;
}

#item_left_home {
    width: 50px !;
    margin-bottom: 50px;
}

#setting {
    margin-top: 36px;
    margin-bottom: 20px;
}
/*-------------------------right---------------------*/
#right {
    width: 440px;
    padding: 40px;
}
#right_header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
#add{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
}
#participant{
    position: absolute;
    color: red;
    top: 7%;
    left: 38%;
    font-size: 13px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgba(244, 230, 230, 0.8);
    border: 1px solid rgba(244, 230, 230, 0.8);
    border-radius: 50%;
}
#right_header_user {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
    margin-bottom: 15px;
}
#container_icon{
    justify-content: space-between;
    width: 19%;
}
/*-------------------------right-footer-------------------------*/
#right_footer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: left;
    border-top: 2px solid rgb(241, 241, 241);
    margin-top: 40px;
}

.user_comment {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 10px;
}

#user {
    display: flex;
    align-items: center;
}
#user_name{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
}
#time_cmt{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 13px;
}
#comment{
    margin-left: 50px;
    margin-top: 10px;
    padding: 10px;
    width: fit-content;
    background-color: rgb(241, 241, 241);
    border: 1px color rgb(241, 241, 241);
    border-radius: 5px;
}
#input_text{
    position: absolute;
    bottom: -40px;
    z-index: -1;
    height: 44px;
    width: 310px;
    padding-left: 20px;
    border: 1px solid rgb(241, 241, 241);
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
}
#smile_face{
    position: absolute;
    bottom: -25px;
    right: 75px;
}
#send{
    position: absolute;
    bottom: -38px;
    right: 0px;
}
#typing{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 15px;
    color: gray;
    padding: 15px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(248, 248, 248);
    border-radius: 5px;
    bottom: -50px;
    left: 50px;
}